@charset "utf-8";
/* CSS Document */

.index_allbox {
	background-image: url(index_bg.jpg);
	height: 680px;
	width: 760px;
}
.index_infobtn {
	float: right;
	height: 49px;
	width: 127px;
	margin-top: 15px;
	margin-right: 15px;
}
.index_startbtn {
	float: left;
	height: 49px;
	width: 127px;
	margin-top: 590px;
	margin-left: 325px;
}
.result_startbtn {
	float: left;
	height: 49px;
	width: 127px;
	margin-top: 20px;
	margin-left: 325px;
}

.result_allbox {
	background-image: url(result_bg.jpg);
	height: 680px;
	width: 760px;
}
.result_friendbox1 {
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
	font-size: 12px;
	line-height: 24px;
	color: #333;
	float: left;
	height: 100px;
	width: 472px;
	margin-top: 266px;
	margin-left: 150px;
}
.result_friendbox2 {
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
	font-size: 12px;
	line-height: 24px;
	color: #333;
	float: left;
	height: 100px;
	width: 472px;
	margin-top: 10px;
	margin-left: 150px;
}
.result_photo {
	float: left;
	height: 81px;
	width: 81px;
	margin-top: 10px;
}
.result_name {
	float: left;
	height: 20px;
	width: 120px;
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
	font-size: 15px;
	font-weight: bold;
	color: #333;
	margin-left: 10px;
}
.result_seal_1 {
	float: left;
	height: 37px;
	width: 127px;
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
	font-size: 15px;
	font-weight: bold;
	color: #333;
	margin-left: 10px;
}
.result_friend_content {
	float: left;
	height: 49px;
	width: 370px;
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
	font-size: 13px;
	font-weight: bold;
	color: #333;
	margin-left: 10px;
	margin-top: 5px;
	line-height: 21px;
}
.popup_allbox {
	background-image: url(popup1_bg.png);
	height: 386px;
	width: 499px;
	float: left;
}
.popup2_bg {
	background-image: url(popup2_bg.png);
	height: 386px;
	width: 499px;
	float: left;
}
.popup3_bg {
	background-image: url(popup3_bg.png);
	height: 386px;
	width: 499px;
	float: left;
}
.popup4_bg {
	background-image: url(popup4_bg.png);
	height: 386px;
	width: 499px;
	float: left;
}
.popup_form_bg {
	background-image: url(popup5_success_bg.png);
	height: 411px;
	width: 498px;
}
.popup_form_box {
	height: 127px;
	width: 270px;
	float: left;
	margin-top: 185px;
	margin-left: 140px;
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
	font-size: 12px;
}





.popup_allbox_btn {
	height: 48px;
	width: 128px;
	margin-top: 290px;
	margin-left: 206px;
}
.popup_success_btn {
	height: 48px;
	width: 128px;
	margin-left: 206px;
	float: left;
	margin-top: 25px;
}
.info_box {
	background-image: url(info_bg.jpg);
	height: 680px;
	width: 760px;
}
.info_title {
	float: left;
	height: 30px;
	width: 134px;
	margin-top: 210px;
	margin-left: 315px;
}
.info_content {
	height: 330px;
	width: 500px;
	margin-top: 10px;
	margin-left: 140px;
	float: left;
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
	font-size: 12px;
	line-height: 21px;
	color: #333;
	overflow:auto
}
.info_red {
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
	font-size: 14px;
	font-weight: bold;
	color: #900;
}
